@font-face {
  font-family:'Raleway';
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2);
}
html {
  background-image: url(https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9yZXN0JTIwYnJpZGdlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
}
* {
  font-family: 'Raleway';
  color: white;
  /* padding: 0;
  margin: 0; */
}

.header-txt {
  
  font-size: 24px;
  margin: 16px;
}

.center-txt {
  font-size: 64px;
  text-align: center;
  /* font-weight: 400; */
  margin-top: 346px;
  margin-bottom: 20px;
}

hr  {
  width: 184px;
  border: none;
  height: 0.5px;
  background-color: rgb(156, 156, 156);
  
}

.time {
  font-size: 18px;
  text-align: center;
  margin-top: 21px;
}

.footer-txt {
  font-size: 15px;
  margin: 358px 0px 0px 16px;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}